
   <div class="center"> 
    <div class="login_box">
      <h1 id=login_text><i class="fa fa-user"></i> Login</h1>


      <%= form_for :session, url: login_path do |f| %>
      <p id="name"><%= f.text_field :name, placeholder: "Name" %><br></p>
      <p id="password"><%= f.password_field :password, placeholder: "Password" %><br><br></p>
            <% if flash[:notice] %>
              <p style="color: red;"><%= flash[:notice] %></p>
            <% end %>

        <p id=login_button><%= f.submit "Login", class: "btn btn-primary"%><br></p>

      <% end %>
    </div>
    </div>



