<div class="fav-del-btn-container">
  <% if @favorite_exists == false %>
    <%= form_for @favorite do |f| %>
      <%= f.hidden_field :pet_id, value: @pet.id %>
      <%= f.submit "Add to Favorites", class: "btn btn-primary btn-block" %>
    <% end %>
  <% else %>
    <%= button_to 'Remove from Favorites', pet_path(@pet), method: :delete, class: 'btn btn-danger btn-block'%>
  <% end %>
</div>

  <div class="container2">
     <% if @pet.favorites.count == 0 %>
      <%= "Be the first to favorite #{@pet.name}!" %>
      <% elsif @pet.favorites.count == 1%>
        <%= "Loved by #{@pet.favorites.count} Fluffy Tail user" %>
      <% else %>
        <%= "Loved by #{@pet.favorites.count} Fluffy Tail users" %>
      <% end %>
  </div>

<br>
<div class="pet-img">
<div id="carousel-pet-pics" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-pet-pics" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-pet-pics" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="<%= @pet.img_url%>" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<%= @pet.img_url2%>" alt="Second slide">
    </div>
  </div>

</div>

</div><br>

<div class="container2">
<p id="pet-name">Meet <%= @pet.name %></p>
<p>Breed: <%= @pet.breed %>, Age: <%= @pet.age %>, Gender: <%= @pet.gender %>.
<hr>
<p id="pet-description"><%= @pet.description %></p>  
</div>
<br>
<div class="container2">
<p>This animal is located in : </p>
      <iframe width="300" height="300" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['SECRET_KEY']%>&q=<%= @pet.location.address %>"
          allowfullscreen>
    </iframe>
<p><%= @pet.location.name %></p>
<p><%= @pet.location.address %></p>
<p>Phone: <%= @pet.location.phone %></p>
</div><br>



</div>




<%# 
<%= link_to "Back to all pets", pets_path %>
<%# <%= button_to "Delete", @pet, method: :delete %>


