<h1>Pet Show Page</h1>

<h2>Pet Details</h2>
<p>Name: <%= @pet.name %></p>
<p>Animal Type: <%= @pet.animal_type %></p>
<p>Breed: <%= @pet.breed %></p>
<p>Age: <%= @pet.age %></p>
<p>Picture: <%= image_tag @pet.img_url, size: "492x328" %><p>


<%= link_to "Back to all pets", pets_path %><br>
<%= button_to "Delete", @pet, method: :delete %>