
<div class="center">
<div class=form_box> 

    <h1 id=signup_header><i class="fa fa-user-plus"></i> Sign Up</h1>
<%= form_for @user do |f| %>

    <%= f.text_field :name, placeholder: "Name" %><br>
    <br>

    <%= f.password_field :password, placeholder: "Password" %><br>
    <br>
    
    <%= f.text_field :email, placeholder: "Email" %><br>
    <br>

    <%= f.submit "Sign Up"%><br>
    <% end %>

    </div>
    </div>

