
  <div class="wrapper">

    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>

    <div class="center">

    <div class=form_box> 

    <h1 id=signup_header>Edit Account</h1> 
    <%= form_for @user do |f| %>

    <%= f.text_field :name, placeholder: "Name" %><br>
    <br>

    <%= f.password_field :password, placeholder: "Password" %><br>
    <br>
    
    <%= f.text_field :email, placeholder: "Email" %><br>
    <br>

    <%= f.submit class: "btn btn-primary"%><br>
    <% end %>

    </div>
    </div>



