

    <div class="container-users">
    <h2>User Profile</h2>
    <p>Name: <%= @user.name %></p><br>
    <p>Email: <%= @user.email %></p><br>

    <div>My Favorite Pets:

      <% @user.favorites.each do |fav| %>

        <br><%= link_to fav.pet.name, pet_path(fav.pet.id) %><br>
        <br><%= link_to fav.pet.name, pet_path(fav), class: "btn btn-primary btn-lg"%><br>
            <%= link_to "Delete Favorite", fav, method: :delete, class: "btn btn-secondary btn-sm"%><br><br>


      <% end %> 
      
      <br><a href="../pets/">Find More Pets to Love</a> <br><br>

    </div>

    <%= link_to "Edit your Account", edit_user_path(@user), class: "btn btn-primary"%><br><br>

    <%= button_to "Delete Account", @user, method: :delete, class: "btn btn-danger"%><br>
    </div>






