<div class="container-users">
      <div id="user-text-cont">
        <h2>User Profile</h2>
        <p>Name: <%= @user.name %></p>
        <p>Email: <%= @user.email %></p>
      </div>
        <div class="button-container">
        <p>Your Favorite Pets:</p>
          <% @user.favorites.each do |fav| %>
            <img src="<%= fav.pet.img_url %>" alt="<%= fav.pet.name%>" height= 60%, width= 60%>
            <%= link_to fav.pet.name, pet_path(fav.pet.id), class: "btn btn-primary btn-block"%>
              <%= button_to "Remove from Favorites", fav, method: :delete, class: "btn btn-danger btn-block"%><br>
          <% end %> 
      
         
          <%= link_to "Find More Pets to Love", pets_path, class: "btn btn-secondary btn-block"%>
          <br><br>
      <hr>
      <%= link_to "Edit your Account", edit_user_path(@user), class: "btn btn-primary btn-block"%>
      <%= button_to "Delete Account", @user, method: :delete, class: "btn btn-danger btn-block"%>
    </div>
    <br>
</div>






