

<%# <%= link_to "Create New", new_location_path %>


  <% @locations.each do |location| %>
  <div class="container2">
    <p><%= link_to location.name, location_path(location) %></p>
    <p><%= location.address %><p>
    <p><%= location.phone %></p>
    
    This location has <%= pluralize(location.pets.count, 'pet' ) %> available.</p>
    </div><br>
  <% end %>



