<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fluffy Tail" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fluffy Tail" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>

  <div class="push"></div>
  </div>
  <footer class="footer"> © Fluffy Tail LLP </footer>
    </main>
  </body>
</html>